.mp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.img-container {
  display: flex;
}

.mp-content {
  display: flex;
  flex-direction: row;
}

.mp-leftBox {
  width: 350px;
  height: auto;
  display: flex;
  margin-right: 50px;
  /* flex-direction: column; */
  margin-bottom: 30px;
}

.mp-img {
  display: flex;
  background-color: white;
  /* border-radius: 10px; */
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  height: auto;
}

.mp-rightBox .mp-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border-radius: 10px; */
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: auto;
}
