.mp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.mp-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mp-leftBox {
  width: 350px;
  height: auto;
  display: flex;
  margin-right: 50px;
  margin-bottom: 30px;
}

.mp-img {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  height: auto;
}

.mp-rightBox .mp-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: auto;
}
